# directories (enhanced with zoxide smart jumping)
alias home='cd ~'
alias ..='cd ..'
alias ...='cd ../..'
alias back='cd -'
alias root='cd /'

# zoxide shortcuts
alias zi='zi'  # Interactive directory picker
alias za='zoxide add'  # Manually add directory to database
alias zq='zoxide query'  # Query directory database
alias zr='zoxide remove'  # Remove directory from database

# ls
alias lst='eza --icons --git --color=always --group-directories-first --tree --level=2 --no-permissions --no-user --no-time --all'

# read files
alias cat='bat --paging=never'

# git
alias ga='git add'
alias gc='git commit -m'
alias gf='git fetch'
alias gs='git status'
alias push='git push'
alias pull='git pull'
alias grv='gh run view'

# programs
alias lg='lazygit'
alias ld='lazydocker'

alias k="kubectl"
alias ka="kubectl apply -f . -R"
alias kctx="kubectx"
alias kns="kubens"

alias tf="terraform"
alias tfa="terraform apply"
alias tfi="terraform init"
alias tfd="terraform destroy"
alias tfp="terraform plan"
alias tfs="terraform show"
alias tfv="terraform validate"
alias tfc="terraform console"

# terragrunt 
alias tg="terragrunt"
alias tga="terragrunt apply"
alias tgi="terragrunt init"
alias tgd="terragrunt destroy"
alias tgp="terragrunt plan"
alias tgs="terragrunt show"
alias tgv="terragrunt validate"
alias tgc="terragrunt console"

# task warrior
alias tka="task add"
alias tk="task"
alias tkl="task list"
alias tkc="task completed"
alias tkd="task deleted"

# system control
alias slp="pmset sleepnow"

# azure
alias a="az"
alias azs="azure-searcher"
alias azi="az interactive"
